// archive single post

h1{
    color: white;
   
}

.single-post,
.category,
.tag{

    width: 1080px;
    margin: 0 auto;
    margin-left: 10px;
    background-color:#222222;
   
    img{
        @include center-block;
        width: 600px;
        margin-top: 50px;
    }
    .site-description,
    .source{
        display: none;
    }
   p{
        color: white; 
        }
    #new-quote-button {
            font-size: 1.2rem;
            font-weight: 400;
            box-shadow: none;
            text-shadow: none;
            background: transparent;
            border: 2px solid;
            color: $color__text-main;
            padding: 0.7rem 2.5rem;
            border-color: $color__text-main;
        } 
      
}

